version: '3.8'

services:
  mysql:
    image: mysql:latest
    container_name: mysql-barber
    environment:
      MYSQL_ROOT_PASSWORD: 12345678
      MYSQL_DATABASE: barber-shop 
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: ["redis-server", "--save", "60", "1", "--loglevel", "warning"]
    restart: unless-stopped

  redisinsight:
    image: redis/redisinsight:latest
    restart: always
    ports:
      - "5540:5540"
    volumes:
      - redis-insight:/data

volumes:
  mysql_data:
  redis-data:
  redis-insight:
  

